body {
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20240507/pngtree-dark-purple-pink-blue-color-gradient-background-blurred-neon-flow-grainy-image_15727272.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
}

